.appl-details {
    background: #1F2025;
    height: 100%;
    width: 30%;
    border-radius: 10px;
    padding: 20px 20px;
    color: #fff;
    box-shadow: 1px 1px 2px #3d3d3d, -1px -1px 2px #3d3d3d;
}

.appl-details .title {
    width: 100%;
    height: 15%;
}

.appl-details .title h1 {
    font-size: 16px;
    font-weight: 600;
}

.appl-details .details {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    height: 80%;
}

.appl-details .details .applications,
.appl-details .details .short-listed,
.appl-details .details .rejected,
.appl-details .details .on-hold,
.appl-details .details .accepted {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.appl-details .details .applications .circle,
.appl-details .details .short-listed .circle,
.appl-details .details .rejected .circle,
.appl-details .details .on-hold .circle,
.appl-details .details .accepted .circle {
    height: 15px;
    width: 15px;
    background-color: rgb(188, 219, 236);
    border-radius: 50%;
    margin-right: 5px;
}

.appl-details .details .short-listed .circle {
    background-color: #2f98f6;
}

.appl-details .details .rejected .circle {
    background-color: #E65C6A;
}

.appl-details .details .on-hold .circle {
    background-color: rgb(250, 219, 197);
}

.appl-details .details .accepted .circle {
    background-color: #866DC6;
}

.appl-details .details .applications .text,
.appl-details .details .short-listed .text,
.appl-details .details .rejected .text,
.appl-details .details .on-hold .text,
.appl-details .details .accepted .text {
    width: 100px;
}

.appl-details .details .applications .text h2,
.appl-details .details .short-listed .text h2,
.appl-details .details .rejected .text h2,
.appl-details .details .on-hold .text h2,
.appl-details .details .accepted .text h2{
    font-size: 13px;
    font-weight: 500;
    color: rgb(188, 219, 236);
}

.appl-details .details .short-listed .text h2 {
    color: #2f98f6;
}

.appl-details .details .rejected .text h2 {
    color: #E65C6A;
}

.appl-details .details .on-hold .text h2 {
    color: rgb(250, 219, 197);
}

.appl-details .details .accepted .text h2 {
    color: #866DC6;
}

.appl-details .details .applications .bar,
.appl-details .details .short-listed .bar,
.appl-details .details .rejected .bar,
.appl-details .details .on-hold .bar,
.appl-details .details .accepted .bar {
    width: 150px;
    height: 12px;
    background: rgba(119, 119, 119, 0.3);
    border-radius: 5px;
}

.appl-details .details .applications .bar .fill,
.appl-details .details .short-listed .bar .fill,
.appl-details .details .rejected .bar .fill,
.appl-details .details .on-hold .bar .fill,
.appl-details .details .accepted .bar .fill {
    width: 40%;
    height: 99%;
    background: rgb(188, 219, 236);
    border-radius: 5px;
}

.appl-details .details .short-listed .bar .fill {
    background-color: #2f98f6;
    width: 75%;
}

.appl-details .details .rejected .bar .fill {
    background-color: #E65C6A;
    width: 35%;
}

.appl-details .details .on-hold .bar .fill {
    background-color: rgb(250, 219, 197);
    width: 15%;
}

.appl-details .details .accepted .bar .fill {
    background-color: #866DC6;
    width: 80%;
}